extends layout
//- this logic should be moved to a view at some point

block header
	h1 全記事一覧

block content
	- var lineHeight = 2.2;
	- var archives = _.chain(env.helpers.getArticles(contents)).groupBy(function(item) {
	-	 return item.date.getFullYear()
	- }).value()
	- for (var archive in archives) {
	-	archives[archive] = _.groupBy(archives[archive], function(item){return item.date.getMonth();})
	- }
	- var month_names = ['January (1月)', 'February (2月)', 'March (3月)', 'April (4月)', 'May (5月)', 'June (6月)', 'July (7月)', 'August (8月)', 'September (9月)', 'October (10月)', 'November (11月)', 'December (12月)']
	section.archive
		ul
			- var yearsK = _.chain(archives).keys().reverse().value()
			- for(var year in yearsK)
				- months = archives[yearsK[year]]
				- var yearHeight = lineHeight * _.reduce(months, function(memo,month) { return memo + month.length; }, 0);
				li
					span.year-label=yearsK[year]
					ul
						- var monthsK = _.chain(months).keys().reverse().value()
						- for(month in monthsK){
							- var monthHeight = lineHeight * months[monthsK[month]].length
							li
								span.month-label=month_names[monthsK[month]]
								ul
									each item in months[monthsK[month]]
										li
											a(href=item.url)=item.title
						- }
						