extends layout
//- this logic should be moved to a view at some point

block header
	h1 全記事一覧

block content
	- var lineHeight = 2.2;
	- var archives = _.chain(env.helpers.getArticles(contents)).groupBy(function(item) {
	-	 return item.date.getFullYear()
	- }).value()
	- for (var archive in archives) {
	-	archives[archive] = _.groupBy(archives[archive], function(item){return item.date.getMonth();})
	- }
	- var month_names = ['1月', '2月', '3月', '4月', '5月', '6月', '7月', '8月', '9月', '10月', '11月', '12月']
	section.archive
		ul
			- var yearsK = _.chain(archives).keys().reverse().value()
			- for(var year in yearsK)
				- months = archives[yearsK[year]]
				- var yearHeight = lineHeight * _.reduce(months, function(memo,month) { return memo + month.length; }, 0);
				li
					span.year-label=yearsK[year]
					ul
						- var monthsK = _.chain(months).keys().reverse().value()
						- for(month in monthsK){
							- var monthHeight = lineHeight * months[monthsK[month]].length
							li
								span.month-label=month_names[monthsK[month]]
								ul
									each item in months[monthsK[month]]
										li
											a(href=item.url)=item.title
						- }

block prepend pagination
	nav
		a(href='/articles/')
			button.btn.btn-default 記事リスト
