mixin lang_switch_button(pageLang)
  if pageLang == 'en'
    a(href="/")
      button.btn.btn-info Switch to Japanese (日本語へ)        
  else
    a(href="/en.html")
      button.btn.btn-info Switch to English (英語へ)
