mixin lang_switch_button(pageLang)
  .text-right
    if pageLang == 'en'
      a(href="/")
        button.btn.btn-info.btn-lang-swith 日本語
    else
      a(href="/en.html")
        button.btn.btn-info.btn-lang-swith English
