mixin logo_l10n(pageLang)
  .text-center
    if pageLang == 'en'
      a(href="/en.html")
        img(alt="Tourism Information Infrastructure Initiative", src="/images/logo.en@half.png")
    else
      a(href="/")
        img(alt="観光情報インフラ整備計画", src="/images/logo.ja@half.png")
