.status-of-this-project
	| このプロジェクトは2013年の2020年東京五輪開催決定を受けて発足しました。残念ながら構想は実現しませんでしたが、プロジェクトの記録としてこのウェブサイトおよびGoogleドキュメント（
	a(href="https://docs.google.com/document/d/1eOQnx09f_Gcd93DAvSS-AGWEW7rAcSxC7DuN74LpgPE/") 趣意書
	| や
	a(href="https://docs.google.com/spreadsheets/d/1sW8Qs3_wyFpWyufooqnutYS3PO2NPl0YhXRBORo8rro/") 設計ガイドライン
	| ）などの関連コンテンツは残してあります。
